<?xml version="1.0"?>
<!DOCTYPE web-app PUBLIC
   "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
   "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
   <description>Project Description</description>

   <!--servlet>
      <servlet-name>UCLs</servlet-name>
      <servlet-class>org.jboss.console.plugins.helpers.ServletPluginHelper</servlet-class>
      <init-param>
         <param-name>WrapperClass</param-name>
         <param-value>org.jboss.console.plugins.UCLLister</param-value>
      </init-param>
      <init-param>
         <param-name>FolderName</param-name>
         <param-value>ROOT/System</param-value>
      </init-param>
      <init-param>
         <param-name>ContextName</param-name>
         <param-value>/web-console</param-value>
      </init-param>
      <load-on-startup>1</load-on-startup>
   </servlet-->
</web-app>
